@font-face{
    font-family: 'Montserrat Regular', sans-serif;
    src: url(//styles/fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face{
    font-family: 'Montserrat Light', sans-serif;
    src: url(//styles/fonts/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face{
    font-family: 'Roboto regular', sans-serif;
    src: url(//styles/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face{
    font-family: 'Roboto light', sans-serif;
    src: url(//styles/fonts/Roboto/Roboto-Italic.ttf);
}